[submodule "springOneFront"]
	path = springOneFront
	url = https://github.com/JupitorCentral/springOneFront.git
[submodule "springOneBackend"]
	path = springOneBackend
	url = https://github.com/JupitorCentral/springOneBackend.git
